
@import "mixins";
@import "icomoon";

.pict-player {
	background-color: black;
	position: relative;
}

.pict-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	> video {
		background-color: black;
		width: 100%;
		height: 100%;
	}
}

@import "controls";