@font-face {
  font-family: 'pict';
  src: url("fonts/pict.eot");
  src: url("fonts/pict.eot?#iefix") format("embedded-opentype"), url("fonts/pict.woff") format("woff"), url("fonts/pict.ttf") format("truetype"), url("fonts/pict.svg#pict") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="iconpict-"] {
*/
.iconpict-play, .pict-controls a.pict-play, .iconpict-pause, .pict-controls a.pict-play[data-state="true"], .iconpict-volume-high, .pict-controls a.pict-mute, .iconpict-volume-medium, .iconpict-volume-low, .iconpict-volume-mute, .iconpict-volume-mute-2, .pict-controls a.pict-mute[data-state="true"], .iconpict-expand, .pict-controls a.pict-fullscreen, .iconpict-contract, .pict-controls a.pict-fullscreen[data-state="true"] {
  font-family: 'pict';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

.iconpict-play:before, .pict-controls a.pict-play:before {
  content: "\e000"; }

.iconpict-pause:before, .pict-controls a.pict-play[data-state="true"]:before {
  content: "\e001"; }

.iconpict-volume-high:before, .pict-controls a.pict-mute:before {
  content: "\e002"; }

.iconpict-volume-medium:before {
  content: "\e003"; }

.iconpict-volume-low:before {
  content: "\e004"; }

.iconpict-volume-mute:before {
  content: "\e005"; }

.iconpict-volume-mute-2:before, .pict-controls a.pict-mute[data-state="true"]:before {
  content: "\e006"; }

.iconpict-expand:before, .pict-controls a.pict-fullscreen:before {
  content: "\e007"; }

.iconpict-contract:before, .pict-controls a.pict-fullscreen[data-state="true"]:before {
  content: "\e008"; }

.pict-player {
  background-color: black;
  position: relative; }

.pict-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .pict-inner > video {
    background-color: black;
    width: 100%;
    height: 100%; }

.pict-controls {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }
  .pict-controls > div {
    color: #fff;
    height: 100%; }
    .pict-controls > div.pict-left {
      float: left;
      margin-left: 4px; }
    .pict-controls > div.pict-center {
      position: relative;
      margin-left: 32px;
      margin-right: 102px; }
    .pict-controls > div.pict-right {
      float: right;
      margin-right: 4px; }
  .pict-controls a, .pict-controls span {
    cursor: default;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    padding: 0 5px; }
  .pict-controls a {
    color: #fff;
    font-size: 16px;
    text-decoration: none; }
    .pict-controls a.pict-play {
      font-size: 18px; }
    .pict-controls a.pict-mute[data-state="true"] {
      margin-right: 1px; }
    .pict-controls a:hover {
      text-decoration: none; }
  .pict-controls span {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased; }
  .pict-controls .pict-bar {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 8px;
    margin-top: -4px; }
    .pict-controls .pict-bar div, .pict-controls .pict-bar p, .pict-controls .pict-bar a {
      position: absolute;
      height: inherit; }
    .pict-controls .pict-bar > div {
      width: 100%;
      height: inherit; }
      .pict-controls .pict-bar > div.pict-progress > div {
        background-color: rgba(255, 255, 255, 0.1);
        width: 0; }
      .pict-controls .pict-bar > div.pict-position > div {
        background-color: #fff;
        width: 0; }
      .pict-controls .pict-bar > div.pict-position > p {
        width: 100%;
        margin: 0; }
      .pict-controls .pict-bar > div.pict-position > a {
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
        border-radius: 1px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        -ms-background-clip: padding-box;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-box-shadow: 0 0 2px 0 black;
        -moz-box-shadow: 0 0 2px 0 black;
        -ms-box-shadow: 0 0 2px 0 black;
        -o-box-shadow: 0 0 2px 0 black;
        box-shadow: 0 0 2px 0 black;
        background-color: #fff;
        padding: 0;
        top: 50%;
        left: 0;
        width: 5px;
        height: 10px;
        margin-top: -5px; }
